<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
 </startup>
  <!--<configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  autoReload="true"
        internalLogLevel="Trace"
        internalLogFile="C:\work\log.txt">
    <targets>
      <target name="console" xsi:type="ColoredConsole" layout="${message} ${exception:format=message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
  </nlog>-->
</configuration>